.cont-author {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.cont-author:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Fotos Integrantes */

.img-author {
  overflow: hidden;
  position: relative;
  transition: transform 1s;
  border-radius: 10px;
}

.img-author:hover {
  transform: scale(1.1);
}

.img-publi {
  border-radius: 30px;
}
